body {
    margin: 20px;
    font-family: 'Nunito';}
a, a:hover, a:active {
    text-decoration: none;
    color: white;}
.row {flex-wrap: wrap;}
.about {
    height: 400px;
    color: white;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 350px;
    background-image: url("../data/images/advisor.png");
    margin-bottom: 30px;}
.text {width: 300px;}


@media screen and (max-width: 1024px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 425px) {}
@media screen and (max-width: 414px) {}
@media screen and (max-width: 411px) {
  
    
  }
@media screen and (max-width: 375px) {}
@media screen and (max-width: 360px) {}
@media screen and (max-width: 320px) {}
   